<div class="body">
  <div class="centerize-parent">
    <div class="centerize-child">
      <div class="block">
        <h1 class="hide-on-small-only large-title">ASLearn</h1>
        <h1 class="hide-on-med-and-up">ASLearn</h1>
        <button class="button button-white centerize" routerLink="/dashboard" (click)="loginWithGoogle()">Sign in with Google</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made at SBHacks IV
    </div>
  </div>
</div>
